[program:run]
command=/usr/bin/uwsgi /home/xnr1/xnr_0429/xnr/config.ini

directory=/home/xnr1/xnr_0429/xnr

user=root
autostart=true
autorestart=true
startsecs=10
startretries=10

stdout_logfile = /home/xnr1/xnr_0429/xnr/uwsgi_supervisor.log
stdout_logfile_maxbytes = 50MB
stderr_logfile=/home/xnr1/xnr_0429/xnr/uwsgi_err.log
stderr_logfile_maxbytes = 50MB


[program:trans]
command=/home/xnr1/xnr_0429/xnr/fb_tw_trans_timer.sh

directory=/home/xnr1/xnr_0429/xnr

user=root
autostart=true
autorestart=true
startsecs=10
startretries=10

stdout_logfile=/var/log/fb_tw_trans_timer_supervisor.log
stdout_logfile_maxbytes = 50MB
stderr_logfile=/var/log/fb_tw_trans_timer_supervisor_err.log
stderr_logfile_maxbytes = 50MB

[program:trans_ali]
command=bash /home/xnr1/xnr_0429/xnr/fb_tw_trans_ali.sh

directory=/home/xnr1/xnr_0429/xnr

user=root
autostart=true
autorestart=true
startsecs=10
startretries=10

stdout_logfile=/var/log/fb_tw_trans_ali_supervisor.log
stdout_logfile_maxbytes = 50MB
stderr_logfile=/var/log/fb_tw_trans_ali_supervisor_err.log
stderr_logfile_maxbytes = 50MB


[program:fb_user_redis]
command=/home/xnr1/xnr_0429/xnr/fb_user_redis_operate.sh

directory=/home/xnr1/xnr_0429/xnr

user=root
autostart=true
autorestart=true
startsecs=10
startretries=10

stdout_logfile=/var/log/fb_redis_log/fb_user_redis_supervisor.log
stdout_logfile_maxbytes = 50MB
stderr_logfile=/var/log/fb_redis_log/fb_user_redis_supervisor_err.log
stderr_logfile_maxbytes = 50MB



[program:firefox_killer]
command=/home/xnr1/xnr_0429/xnr/killer.sh

directory=/home/xnr1/xnr_0429/xnr

user=root
autostart=true
autorestart=true
startsecs=10
startretries=10

stdout_logfile=/var/log/killer_err_supervisor.log
stdout_logfile_maxbytes = 50MB
stderr_logfile=/var/log/killer_supervisor_err.log
stderr_logfile_maxbytes = 50MB



[program:spider_logs_rmer]
command=/home/xnr1/xnr_0429/xnr/spider_logs_rmer.sh

directory=/home/xnr1/xnr_0429/xnr

user=root
autostart=true
autorestart=true
startsecs=10
startretries=10

stdout_logfile=/var/log/spider_logs_rmer_err_supervisor.log
stdout_logfile_maxbytes = 50MB
stderr_logfile=/var/log/spider_logs_rmer_supervisor_err.log
stderr_logfile_maxbytes = 50MB



[program:weibo_crawler]
command=/home/xnr1/xnr_0429/xnr/weibo_crawler_timer.sh

directory=/home/xnr1/xnr_0429/xnr

user=root
autostart=true
autorestart=true
startsecs=10
startretries=10

stdout_logfile=/home/xnr1/xnr_0429/xnr/weibo_crawler_supervisor.log
stdout_logfile_maxbytes = 50MB
stderr_logfile=/home/xnr1/xnr_0429/xnr/weibo_crawler_err.log
stderr_logfile_maxbytes = 50MB



[program:retweet_in_time]
command=/home/xnr1/xnr_0429/xnr/retweet_in_time_timer.sh

directory=/home/xnr1/xnr_0429/xnr

user=root
autostart=true
autorestart=true
startsecs=10
startretries=10

stdout_logfile=/home/xnr1/xnr_0429/xnr/retweet_in_time_timer_supervisor.log
stdout_logfile_maxbytes = 50MB
stderr_logfile=/home/xnr1/xnr_0429/xnr/retweet_in_time_timer_err.log
stderr_logfile_maxbytes = 50MB



[program:operate_timer]
command=/home/xnr1/xnr_0429/xnr/operate_timer.sh

directory=/home/xnr1/xnr_0429/xnr

user=root
autostart=true
autorestart=true
startsecs=10
startretries=10

stdout_logfile=/home/xnr1/xnr_0429/xnr/operate_timer_supervisor.log
stdout_logfile_maxbytes = 50MB
stderr_logfile=/home/xnr1/xnr_0429/xnr/operate_timer_err.log
stderr_logfile_maxbytes = 50MB



[program:qq_receive_message_timer]
command=/home/xnr1/xnr_0429/xnr/qq_receive_message_timer.sh

directory=/home/xnr1/xnr_0429/xnr

user=root
autostart=true
autorestart=true
startsecs=10
startretries=10

stdout_logfile=/home/xnr1/xnr_0429/xnr/qq_receive_message_timer_supervisor.log
stdout_logfile_maxbytes = 50MB
stderr_logfile=/home/xnr1/xnr_0429/xnr/qq_receive_message_timer_err.log
stderr_logfile_maxbytes = 50MB


[program:opnion_corpus_expand_redis]
command=python /home/xnr1/xnr_0429/xnr/timed_python_files/opnion_corpus_expand_redis.py

directory=/home/xnr1/xnr_0429/xnr/timed_python_files

user=root
autostart=true
autorestart=true
startsecs=10
startretries=10

stdout_logfile=/var/log/opnion_corpus_expand_redis_supervisor.log
stdout_logfile_maxbytes = 50MB
stderr_logfile=/var/log/opnion_corpus_expand_redis_supervisor_err.log
stderr_logfile_maxbytes = 50MB



[supervisord]
[supervisorctl]
[inet_http_server]
port = 127.0.0.1:9001
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface
